<div class="container-fluid">
  <div class="row justify-content-center signup-container align-items-center my-sm-5 my-0">
    <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-8 col-sm-9 col-12">
      <div class="card registration-card m-sm-0 my-2">
        <div class="class-header btn-service-master-bg pt-3 pb-2">
          <div class="row">
            <div class="col text-center">
              <h3 class="mb-4 fw-bold">{{ service.service.name }}</h3>
            </div>
          </div>
        </div>
        <div class="card-body px-sm-5 px-4">
          <form (ngSubmit)="onSubmit()" [formGroup]="addBookingForm">
            <div class="row">
              <div class="col-12">
                <div class="form-group mb-4">
                  <label class="mb-3 input-label-dd" for="urgency-field">Urgency</label>
                  <select
                    class="form-control input-field"
                    formControlName="urgency"
                    id="urgency-field">
                    <option selected>Select</option>
                    <option *ngFor="let options of urgencyOptions" [value]="options">{{options}}</option>
                  </select>
                </div>
                <div class="form-group mb-4">
                  <label class="mb-3 input-label" for="description-field">Description</label>
                  <textarea class="form-control input-field"
                            formControlName="booking_description"
                            id="description-field"></textarea>
                </div>
                <div class="form-group mb-4">
                  <label class="mb-3 input-label" for="address-field">Address</label>
                  <input
                    class="form-control input-field"
                    formControlName="booking_address"
                    id="address-field"
                    type="text"/>
                </div>
                <div class="form-group mb-4">
                  <label class="mb-3 input-label" for="date-field">Date</label>
                  <input
                    class="form-control input-field"
                    formControlName="booking_date"
                    id="date-field"
                    type="datetime-local"/>
                </div>
                <div class="form-group mb-4">
                  <label class="mb-3 input-label-dd" for="provider-field">Provider</label>
                  <select
                    class="form-control input-field-dd"
                    formControlName="provider"
                    id="provider-field">
                    <option class="option-disabled" value="">Select</option>
                    <option *ngFor="let provider of providers" [value]="provider._id">{{ provider.name }}</option>
                  </select>
                </div>
                <button
                  [disabled]="addBookingForm.invalid"
                  class="btn btn-primary col-12 mt-2 mb-4 btn-service-master-bg text-dark"
                  type="submit">Book
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
