<footer class=" text-lg-start footer-bg">
  <div class="p-4 pb-0">
    <section>
      <div class="row">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">
            Service Master
          </h6>
          <p>
            Service Master is a web application that allows users to find and book services from local service
            providers.
          </p>
        </div>
        <hr class="w-100 clearfix d-md-none"/>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p><i class="fas fa-home mr-3"></i>1205 Humber College Blvd, Toronto, ON M9W 5L7</p>
          <p><i class="fas fa-envelope mr-3"></i>enquiry@humber.ca</p>
          <p><i class="fas fa-phone mr-3"></i>+1-416-675-3111</p>
        </div>
      </div>
    </section>

    <hr class="my-3"/>
    <section class="p-3 pt-0">
      <div class="row d-flex align-items-center">
        <div class="col-md-7 col-lg-8 text-center text-md-start">
          <div class="p-3">
            Swapnil Roy Chowdhury - N01469281
            | Nguyen Anh Tuan Le - N01414195
            | Mihir Deshpande - N01471808
          </div>
        </div>
      </div>
    </section>
  </div>
</footer>
