<!-- Spinner -->
<div *ngIf="loading" class="text-center">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<!-- List of services -->
<div *ngIf="!loading">
  <div *ngFor="let service of services" class="card mb-4">
    <div class="card-header bg-dark text-white">
      {{ service.service.name }}
    </div>
    <div class="card-body">
      <p class="card-text mb-3">{{ service.service.description }}</p>
      <div *ngIf="userType === environment.CustomerString">
        <span (click)="handleBook(service)" class="btn btn-primary btn-service-master-bg text-dark">Book</span>
      </div>
      <div *ngIf="userType === environment.AdminString">
        <span (click)="handleDelete(service.service._id)"
              class="btn btn-primary btn-service-master-bg text-dark">Delete</span>
      </div>
      <div *ngIf="userType === environment.ProviderString">
        <span (click)="handleRegister(service.service._id)" class="btn btn-primary btn-service-master-bg text-dark">Register</span>
      </div>
    </div>
  </div>
</div>
