<div class="container-fluid">
  <div class="row justify-content-center signup-container align-items-center my-sm-5 my-0">
    <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-7 col-sm-8 col-12">
      <div class="card registration-card m-sm-0 my-2">
        <div class="card-body px-sm-5 px-4">
          <div class="row text-center">
            <div class="col-12">
              <img alt="logo" class="mt-3 mb-2 w-50" src="assets/images/service-master-logo.png"/>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-12">
              <p class="heading">Welcome!</p>
              <p class="generic-paragraph">We're glad that you're here.</p>
            </div>
          </div>
          <form (ngSubmit)="signUp()" [formGroup]="signUpForm">
            <div class="row">
              <div class="col-12">
                <div class="form-group mb-4">
                  <label class="mb-3 input-label" for="firstName">First Name</label>
                  <input class="form-control input-field" formControlName="firstName" id="firstName" type="text"/>
                  <div *ngIf="signUpForm.controls.firstName.touched && signUpForm.controls.firstName.errors">
                    <span style="color: red">* First name is required</span>
                  </div>
                </div>
                <div class="form-group mb-4">
                  <label class="mb-3 input-label" for="lastName">Last Name</label>
                  <input class="form-control input-field" formControlName="lastName" id="lastName" type="text"/>
                  <div *ngIf="signUpForm.controls.lastName.touched && signUpForm.controls.lastName.errors">
                    <span style="color: red">* Last name is required</span>
                  </div>
                </div>
                <div class="form-group mb-4">
                  <label class="mb-3 input-label" for="email">Email</label>
                  <input class="form-control input-field" formControlName="email" id="email" type="email"/>
                  <div *ngIf="signUpForm.controls.email.touched && signUpForm.controls.email.errors">
                    <span style="color: red">* Email is required</span>
                  </div>
                </div>
                <div class="form-group mb-4">
                  <label class="mb-3 input-label" for="password">Password</label>
                  <input class="form-control input-field" formControlName="password" id="password" type="password"/>
                  <div *ngIf="signUpForm.controls.password.touched && signUpForm.controls.password.errors">
                    <span style="color: red">* Password is required</span>
                  </div>
                </div>
                <div class="form-group mb-4">
                  <label class="mb-3 input-label" for="type">Type</label>
                  <select class="form-control input-field" formControlName="type" id="type">
                    <option selected>Select</option>
                    <option *ngFor="let userType of userTypes" [value]="userType">{{userType}}</option>
                  </select>
                  <div *ngIf="signUpForm.controls.type.touched && signUpForm.controls.type.errors">
                    <span style="color: red">* Type is required</span>
                  </div>
                </div>
                <button [disabled]="signUpForm.invalid"
                        class="btn btn-primary col-12 mt-2 mb-4 btn-service-master-bg text-dark"
                        type="submit">
                  Sign Up
                </button>
              </div>
            </div>
          </form>
          <div class="row text-center">
            <div class="col-12">
              <p class="generic-paragraph mb-4">Already have an account? <a routerLink="/sign-in">Sign in</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
