<!-- Spinner -->
<div *ngIf="loading" class="text-center">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<!-- List of bookings -->
<div *ngIf="!loading">
  <div *ngFor="let booking of bookings" class="card mb-4">
    <div class="card-header bg-dark text-white">
      {{ booking.service.name }}
    </div>
    <div class="card-body">
      <p class="card-text mb-3">{{ booking.service.description }}</p>
      <p><strong>Description: </strong>{{ booking.booking.booking_description }}</p>
      <p><strong>Address: </strong>{{ booking.booking.booking_address }}</p>
      <p><strong>Date: </strong>{{ booking.booking.booking_date | date: 'short' }}</p>
      <p>
        <strong *ngIf="userType === environment.CustomerString">Provider: </strong><strong
        *ngIf="userType === environment.ProviderString">Customer: </strong>{{ booking.provider }}
      </p>
      <span (click)="rescheduleVisible[booking.booking._id] = !rescheduleVisible[booking.booking._id]"
            class="btn btn-primary btn-service-master-bg text-dark mr-3">Reschedule</span>
      <span (click)="handleDelete(booking.booking._id)" class="btn btn-danger text-white">Cancel</span>
      <div *ngIf="rescheduleVisible[booking.booking._id]" class="form-group my-4">
        <label class="mb-3 input-label" for="date-field">New date</label>
        <input #newDateInput (change)="newDates[booking.booking._id]    = newDateInput.value"
               class="form-control input-field" id="date-field"
               name="booking_date" type="datetime-local"/>
        <span (click)="handleReschedule(booking.booking._id, newDates[booking.booking._id])"
              class='btn btn-primary btn-service-master-bg text-dark mt-3'>Reschedule</span>
      </div>
    </div>
  </div>
</div>
