/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.btn-service-master-bg{
  background-color: #E7A811 !important;
}

.header-bg, .footer-bg{
  background-color: lightgray !important;
}

.bg-dark{
  background-color: #000 !important;
}

.card-header{
  font-size: 20px;
}

.select-pointer{
  cursor: pointer;
}
